---
layout: default
---

<div class="row" style="margin-top: 25%">
	<div class="twelve columns">

		<h3>Workshop chairs</h3>
		<ul>
			{% for chair in site.data.db.chairs %}
			<li>{{ chair }}</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="row">

	<div class="twelve columns">
		<h3>Description</h3>
		{% for paragraph in site.data.db.description %}
		<p>{{ paragraph }}</p>
		{% endfor %}
	</div>

</div>

<hr>

<div class="row">
	<div class="six columns">
		<h3>Topics of interest</h3>
		<ul>
			{% for topic in site.data.db.topics %}
			<li>{{ topic }}</li>
			{% endfor %}
		</ul>
	</div>
	<div class="six columns">
		<h3>Challenge</h3>
		<p>{{ site.data.db.challenge.description }}</p>
		<a class="button button-primary u-full-width" href="">Try yourself in the challenge</a>
		<p>
			<h5>Awards</h5>
			<ul>
				{% for award in site.data.db.challenge.awards %}
				<li>{{ award }}</li>
				{% endfor %}
			</ul>
		</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="six columns">
		{% for commitee in site.data.db.commitees %}

		<h3>{{ commitee.name }}</h3>
		<ul>
			{% for member in commitee.members %}
			<li>{{ member }}</li>
			{% endfor %}
		</ul>
		{% endfor %}

		<h3>Important dates</h3>
		<ul>
			{% for date in site.data.db.dates %}
			<li>{{ date.description }}: <strong>{{ date.date }}</strong></li>
			{% endfor %}
		</ul>
	</div>

	<div class="six columns">
		{% for section in site.data.db.sections %}

		<h3>{{ section.title }}</h3>
		{% for paragraph in section.body %}
		<p>{{ paragraph }}</p>
		{% endfor %}

		{% endfor %}
	</div>
</div>



<div class="row">
	<div class="twelve columns">
		
	</div>
</div>