---
layout: default
---
{% assign db = site.data.db_2016 %}
<div id='fixbar'>
  Machine Learning in Life Sciences <span>— 23.09.2016, Riva del Garda, Italy</span>
  </div>
<div class="container">

<div id="header">
	<h1>{{ db.header.acronym }}</h1>
	<h2>{{ db.header.subtitle }}</h2>
	<h3>{{ db.header.title }}</h3>
	{% for row in db.header.info %}
		<h4> {{ row }}</h4>
	{% endfor %}
	<h6>Organized under:</h6>
	<h6><em>{{ db.header.organizedUnder }}</em></h6>
</div>


<div class="row">
	<div class="twelve columns">

		<h3>Workshop chairs</h3>
		<ul>
			{% for chair in db.chairs %}
			<li>{{ chair }}</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="row">

	<div class="twelve columns">
		<h3>Description</h3>
		{% for paragraph in db.description %}
		<p>{{ paragraph }}</p>
		{% endfor %}
	</div>

</div>

<hr>

<h3>Programme</h3>
<div class="programme">
{% for session in db.programme %}
<div class="session">
<h5><strong>{{ session.title }}:</strong> {{ session.time }}</h5>
{% for item in session.items %}
<div class="row">
  <div class="three columns time">
    <strong>{{ item.time }}</strong>
  </div>
  <div class="nine columns">
    {{ item.title }}
    {% if item.subtitle != "" %}
      <br><em>{{ item.subtitle }}</em>
    {% endif %}
  </div>
</div>
{% endfor %}
</div>
{% endfor %}
</div>

<hr>

<div class="row">
	<div class="six columns">
		<h3>Topics of interest</h3>
		<ul>
			{% for topic in db.topics %}
			<li>{{ topic }}</li>
			{% endfor %}
		</ul>
	</div>
	<div class="six columns">
		{% for commitee in db.commitees %}

		<h3>{{ commitee.name }}</h3>
		<ul>
			{% for member in commitee.members %}
			<li>{{ member }}</li>
			{% endfor %}
		</ul>
		{% endfor %}
	</div>
</div>

<hr>

<div class="row">
	<div class="twelve columns">
		<h3>Plenary speaker</h3>
	</div>
</div>

<div class="row">
	<div class="three columns rightbordered">
		<img class = "face" src="{{ db.plenary.face }}">
		<center>
			<h6><strong>{{ db.plenary.name }}</strong></h6>
		</center>
	</div>
	<div class="nine columns">
		<h6><strong><em>{{ db.plenary.title }}</em></strong></h6>
		<p>
		{{ db.plenary.biogram }}
		</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="six columns">
		<h3>Important dates</h3>
		<ul>
			{% for date in db.dates %}
			<li>{{ date.description }}: <strong>{{ date.date }}</strong></li>
			{% endfor %}
		</ul>
	</div>

	<div class="six columns">
		{% for section in db.sections %}

		<h3>{{ section.title }}</h3>
		{% for paragraph in section.body %}
		<p>{{ paragraph }}</p>
		{% endfor %}

		{% endfor %}
	</div>
</div>

<hr>

<div class="row">
	<div class="twelve columns footer">
		<img src="/images/pwr.png">
		<img src="/images/engine.png">
	</div>
</div>

</div>
